[2022-01-05 15:00] nikomatsakis opened #2 "named parameter plan"
After some thought, my plan for named parameters is:

* names are optional for callers-- but once you give a name, all subsequent parameters must be named
* named parameters are still ordered, and the ordering must match the declaration
* we give a lint if the value for an anonymous parameter is "named" `x` (see below) but there is *some other parameter* (not `y`) named `x`

(we don't currently ha

[2022-01-06 08:35] nikomatsakis opened #5 "we need a vscode extension"
There is an LSP server (dada-lsp) and we even test it, but we don't have an extension. I have no idea how to write one. =) The vscode server is pretty bare-bones but it should support opening/closing files and reporting errors.

[2022-01-06 09:34] nikomatsakis opened #6 "dada files in test harness should have an annotation for errors at interpreter time"
See the test:

https://github.com/dada-lang/dada/blob/cff3102697ef4dee168db7e53da3a68960224a29/dada_tests/interpret/print_wrong_label.dada#L1-L3

It generates an error:

https://github.com/dada-lang/dada/blob/cff3102697ef4dee168db7e53da3a68960224a29/dada_tests/interpret/print_wrong_label.stdout#L1

But the dada file doesn't have any `#` comment indicating that error is expected. This seems inconsi

[2022-01-06 09:37] nikomatsakis opened #7 "bors"
We need [bors-ng](https://github.com/bors-ng/bors-ng)! And then I need to stop pushing directly to master, probably.

[2022-01-06 09:38] nikomatsakis commented on #2
I couldn't help myself. I'm fixing this this morning.

[2022-01-06 09:41] nikomatsakis opened #8 "operators are not implemented"
We parse operators but they're not really implemented correctly. How I expect them to work:

* [ ] move `dada_ir::op` into `dada_ir::code::syntax::op`
* [ ] introduce `dada_ir::code::validated::op` which contains *only* the "unary/binary operators" that we want in the end -- i.e., `+=` is not a validated op, but `+` is. That sort of thing.
* [ ] make `dada_ir::code::bir` take a `validated::op::Op`

[2022-01-06 09:51] nikomatsakis opened #9 "test harness doesn't run in parallel"
It should. Shouldn't be that hard, maybe just call `tokio::spawn` around this call

https://github.com/dada-lang/dada/blob/cff3102697ef4dee168db7e53da3a68960224a29/components/dada-lang/src/test_harness.rs#L40-L42

and add some joins later on?

[2022-01-06 09:54] nikomatsakis opened #10 "diagnostics from interpreter don't format how I expect"
we are plumbing spans through, but when eg I run this

[code]

I see

[code]

but I expected a nice Ariadne error with source information. What gives?

[2022-01-06 09:55] nikomatsakis commented on #10
This is where the `eyre::Report` gets generated:

https://github.com/dada-lang/dada/blob/3e31f4aac2dd762e764ee8c41e84e5ae5d6aee48/components/dada-execute/src/error.rs#L5-L14

And here is the `Display` impl;

https://github.com/dada-lang/dada/blob/3e31f4aac2dd762e764ee8c41e84e5ae5d6aee48/components/dada-execute/src/error.rs#L24-L28

I probably just don't understand something about `eyre` and how it

[2022-01-06 10:00] nikomatsakis commented on #2
done-ish

[2022-01-06 10:00] #2 closed

[2022-01-06 10:01] nikomatsakis opened #11 "once you name a parameter, require names for all subsequent parameters"
Validation should check that once we require a name for *one* parameter, all subsequent parameters require names (but the rest of the system should probably be resilient about that and try to soldier on). Why? I don't know, seems right.

In other words:

[code]

[2022-01-06 10:03] nikomatsakis opened #12 "Function calls, arguments, async flag, etc"
I didn't really finish up user-defined functions. We need to carry through the async flag, for one, and the BIR needs to have local variables for each declared argument, and this code needs to provide those arguments to `execute_bir` (which needs to accept them):

https://github.com/dada-lang/dada/blob/3e31f4aac2dd762e764ee8c41e84e5ae5d6aee48/components/dada-execute/src/data.rs#L171-L174

We also

[2022-01-06 13:32] f01dab1e commented on #10
`add_primary_label` has to be true?

https://github.com/dada-lang/dada/blob/aed00d805fc9e6d1818b74322bd3ad0592c2520a/components/dada-ir/src/diagnostic.rs#L115-L118

https://github.com/dada-lang/dada/blob/aed00d805fc9e6d1818b74322bd3ad0592c2520a/components/dada-ir/src/diagnostic.rs#L129

[2022-01-07 12:35] nikomatsakis opened #14 "Debug dumps for syntax tree"
The validated trees have pretty decent debug output:

https://github.com/dada-lang/dada/blob/d86c5f170b4504e7ffa0c7cd655b4577987e62f5/dada_tests/hello_world.validated#L1-L19

but syntax trees, not so much:

https://github.com/dada-lang/dada/blob/d86c5f170b4504e7ffa0c7cd655b4577987e62f5/dada_tests/hello_world.syntax#L1-L5

We need to write various `DebugWithDb` impls for syntax, much like this one:

[2022-01-08 00:15] lqd commented on #9
Some of these futures seem to be holding the salsa `db` across await points (making them `!Send`), so presumably this is slightly more complex than a `tokio::spawn` call.

[2022-01-08 09:27] nikomatsakis commented on #7
I added bors-ng to the repo but not sure if it works.

[2022-01-08 10:56] nikomatsakis opened #17 "Dada reference grammar"
Our parser is hand-written and I'm ok with that, but it'd be nice to have a reference grammar, particularly one that enforces non-ambiguity.

I was thinking we could do it using some kind of parser generator tool that supports LL(k) or perhaps (better) GLL/GLR. Looking around at what I see on crates.io, parol looks like the best fit, and most actively maintained.

I definitely want something on cr

[2022-01-08 12:03] nikomatsakis commented on #9
Hmm. I thought that each test created its own database? Not sure.

[2022-01-08 12:04] nikomatsakis commented on #12
I think I will tackle this.

[2022-01-09 02:21] nikomatsakis opened #20 "detect async, propagate flag, etc"
Async functions etc are not being handled correctly:

* You can await from a non-async function
* Calling an async function doesn't yield a future

Oops =)

I plan to fix this next.

[2022-01-09 10:05] mbrobbel commented on #7
Looks like it's working.

[2022-01-09 10:05] #7 closed

[2022-01-09 10:20] #12 closed

[2022-01-09 12:51] XFFXFF opened #22 "A typo in BirData's fmt method?"
Is there a typo on line 44, why is "validated::Tree" here?
https://github.com/dada-lang/dada/blob/61d7fad626e589b745d98dad0029b54a0656b653/components/dada-ir/src/code/bir.rs#L40-L56

[2022-01-10 01:35] nikomatsakis commented on #10
I found the problem, fixed in #23

[2022-01-10 01:38] #20 closed

[2022-01-10 01:38] #10 closed

[2022-01-10 10:06] lqd commented on #9
I believe that they do, but IIRC some of the Kernel interpretation is async and uses the non-Send db. I'll check again.

[2022-01-10 13:34] nikomatsakis commented on #9
Ah, I see. We should use the "non-workstealing" variant of tokio, or switch to glommio perhaps. We could also make things Send but I'm not sure that's worth the bother.

[2022-01-10 13:34] nikomatsakis commented on #9
That said, I imagine everything *is* Send...

[2022-01-11 06:14] brson opened #28 "Add a runtime exception to the license"
It's not pressing now, but at some point people may use dada, and it would be nice to avoid the mistake Rust made of not having a runtime exception in its license.

A runtime exception allows people to distribute binaries of software that contains runtime code like the standard library without any attribution, and is common for most open source standard libraries.

Rust doesn't have this exception

[2022-01-11 09:44] nikomatsakis commented on #28
Seems reasonable to me. We should probably adopt Apache 2 as well.

[2022-01-11 09:44] nikomatsakis commented on #28
If you have suggested wording changes, feel free to open a PR.

[2022-01-11 09:44] nikomatsakis commented on #22
Yes, typo, thanks!

[2022-01-11 09:50] nikomatsakis opened #31 "format strings"
I didn't fully implement format strings. This is what I had in mind:

`foo{bar}baz` compiles down to:

* a syntax tree with `foo{bar}baz`
* a validated tree with `{ let x = bar; Concatenate("foo", x, "baz") }` where `Concatenate` is a new [intrinsic](https://github.com/dada-lang/dada/blob/main/components/dada-ir/src/intrinsic.rs)
* at that point, later phases don't have to know anything about it

[2022-01-11 09:51] nikomatsakis commented on #31
### Instructions

Right now we special case format strings without code in the parser:

https://github.com/dada-lang/dada/blob/363cc82ce9d67bc0e921a303770762dd4eb6d152/components/dada-parse/src/parser/code.rs#L366-L379

we should stop doing that, and instead modify the syntax definition so that `StringLiteral` becomes `FormatString` and carries a [`FormatString`](https://github.com/dada-lang/dada/

[2022-01-11 10:17] nikomatsakis opened #32 "reference semantics"
Just had an idea:

I would like to make a backend for BIR that generates output compatible with the [redex model](https://github.com/dada-lang/dada-model/). Then we could run the model on that output and test it alongside the Rust codebase. Nifty.

[2022-01-11 10:20] nikomatsakis opened #33 "test directory organization"
I keep getting annoyed at how many files there are for the tests. Maybe the layout should be that we have a test case `foo.dada` and a "reference directory" `foo` with files for each bit of reference output:

* `foo.dada`
* `foo/syntax-tree.ref`
* `foo/bir.ref`
* ...

that would make things easier to browse, I think. Not sure exactly what the names of the "reference output" files should be.

Ideal

[2022-01-11 13:58] #22 closed

[2022-01-12 06:09] brson commented on #28
Well I suggested a bold CC0-based solution in https://github.com/dada-lang/dada/pull/38. I think it's the most general and leaves the most options open.

Others I've considered:

- MIT or Apache 2 + LLVM exception, though I have some concerns about the exact terms of the LLVM exception
- MIT or Apache 2 or Boost (or Zlib)

It's such a hard thing to get perfectly right, and as we've seen with Rust,

[2022-01-12 11:00] #11 closed

[2022-01-12 11:23] #33 closed

[2022-01-12 13:52] nikomatsakis opened #41 "better formatting for the dada playground"
The dada playground is "up and going" at https://dada-lang.org/playground/, but it is not very attractive. It would probably be better if it looked more like https://play.rust-lang.org/ -- i.e., formatted as two rows, or at least width dependent, etc.

[2022-01-12 13:54] nikomatsakis opened #42 "inline errors in dada playground"
The dada playground currently just converts the ANSI output of the compiler. But I'm sure ace.js can support squiggles and what not. We should connect the two.

[2022-01-12 13:54] nikomatsakis opened #43 "must edit for dada playground code to run"
The dada playground requires you to edit a character before the output is updated. This is silly.

[2022-01-12 13:55] nikomatsakis opened #44 "persistent link"
The dada playground has no way to create a persistent link to some code. We should fix that. The rust playground does it via a gist, which seems nice.

[2022-01-13 10:07] #41 closed

[2022-01-13 10:07] #43 closed

[2022-01-13 10:24] nikomatsakis opened #50 "xtask depoy takes a long time"
I love the way I setup xtask deploy because it's self-contained: if you've got Rust installed, it works. I don't like configuring CI so anything I can do to make it simple is a win.

OTOH, I hate the way I setup xtask deploy because it takes ages to build, and netlify deployment is slow.

Maybe we should make it download binaries for wasm-pack and mdbook instead?

I also *feel* like cargo is build

[2022-01-13 11:26] nikomatsakis opened #51 "remove common indentation from strings and so forth"
At https://dada-lang.org/dyn_tutorial/hello.html, the tutorial claims:

But this is clearly not true. =) We should fix this! I imagine this would take place in the parser? Or perhaps the validation engine, when it lowers format strings. Somewhere like that.

[2022-01-13 11:28] nikomatsakis opened #52 "spans need to remove whitespace"
The spans produced by parser often include the whitespace before/after the relevant tokens, resulting in strange errors:

![image](https://user-images.githubusercontent.com/155238/149322167-3dff98f0-a9d2-4bc2-9d60-3237feef8996.png)

I think I would modify the parser so that when it is attempt to create a syntax node with a span, it first does a "trim" step to cut whitespace from either side?

[2022-01-13 21:44] brson commented on #8
@nikomatsakis I see you removed the help wanted label here. Are you going to do this yourself?

[2022-01-14 01:28] nikomatsakis commented on #8
No, I don't know why I removed that really.

[2022-01-14 05:32] brson commented on #8
I'm giving this a try.

[2022-01-14 08:39] brson commented on #8
I have this implemented for obvious cases here: https://github.com/brson/dada/tree/ops

I am going to take another day to write negative test cases and think about a few more cases.

[2022-01-14 08:40] brson commented on #8
At the moment there is no way to create signed integers, so that code cannot be tested.

[2022-01-14 10:08] XFFXFF commented on #51
I would like to know what is common indentation? 4, 8 or other. Can you give some hints on how to judge it? @nikomatsakis

[2022-01-14 10:48] nikomatsakis commented on #8
@brson feel free to open a draft PR, that would make it easier to review.

[2022-01-14 11:03] nikomatsakis opened #54 "Question: `fn =` syntax"
I do eventually expect to add types to Dada, but I also really want a language that is completely usable without types. I have begun to notice a certain kind of error creeping in even in the very few lines of dada code I've written thus far -- accidentally returning a value from a function. This arises because Dada has no semicolons. The pattern is something like this:

[code]

Suppose that `inser

[2022-01-14 11:15] nikomatsakis commented on #51
@XFFXFF I imagined something like this:

* If the string has no `\n`, leave it as and return immediately
* Otherwise, break the string into lines and filter out empty lines
* Find the common prefix P of all those lines
* Find the leading whitespace of that common prefix P
* Strip that whitespace from every line in the original string, apart from empty lines, which remain as empty
* Strip leading/t

[2022-01-14 14:04] nikomatsakis commented on #8
I think I was trying to figure out the difference between "help wanted" and "good first issue".

[2022-01-14 14:04] nikomatsakis commented on #8
And decided "help wanted" would be like "Distinct skill sets from ones that Niko possesses"

[2022-01-15 14:16] nikomatsakis opened #61 "strip whitespace when it uses tabs, too"
#57 removed leading whitespace (see #51), but it only handles spaces, not tabs. See this comment:

This is probably good enough, but it only strips leading *spaces*.

I feel like

[code]

should also work. To make it work, we would want to do

[code]

and then collect into a *String*, I think. Not as simple, though.

_Originally posted by @nikomatsakis in https://github.com/dada-lang/dada/pull/57#

[2022-01-15 14:16] nikomatsakis commented on #61
cc @XFFXFF I assigned you but feel free to unassign yourself :)

[2022-01-15 14:18] #50 closed

[2022-01-15 14:21] #51 closed

[2022-01-15 14:29] XFFXFF commented on #61
No problem, I might try to fix it tomorrow :)

[2022-01-16 00:27] brson opened #62 "Add integer suffixes to the parser"
Right now there is compiler support for signed int types, but no way to create them. Per https://github.com/dada-lang/dada/pull/56#issuecomment-1013675589, add Rust-style integer suffixes to the parser so it can produce signed int types.

@nikomatsakis what suffixes do you want for these? "uint" / "int", "u64", "i64"?

[2022-01-16 00:29] brson opened #63 "Add binop test cases for signed ints"
Basic binop execution was implemented in https://github.com/dada-lang/dada/pull/56, but without parser support for signed ints, so no test cases for signed ints.

After completing https://github.com/dada-lang/dada/issues/62, mirror the uint test cases in dada_tests/interpreter/ops for signed integers, also adding an extra test case for signed division overflow.

[2022-01-16 00:33] brson opened #64 "Interpret float binops"
https://github.com/dada-lang/dada/pull/56 implements execution of int binops. Floats still need to be done. Requires consideration of how to handle float eq.

[2022-01-16 01:44] brson commented on #54
I think it's early and now is the time to experiment and this seems ok.

The main thing I like about this suggestion is that it requires typing an additional thing in order to get an additional capability, like with `let mut`.

The extra syntactic burden on typed dada is unfortunate, and I kinda wouldn't want to make `=` optional, for consistency and simplicity.

A slight alternative, or reformula

[2022-01-16 03:53] XFFXFF opened #66 "Support escapes in our strings."
Our strings do not support escapes like `\t`, `\n`.
`print("Foo \nBar")` now gives
[code]
it should give
[code]

[2022-01-16 07:30] XFFXFF commented on #66
This might be more complicated than I thougnt, I used to think that escapes only consisted of '\t', '\r', '\n', etc., but when I read the rust reference, I realized that there are many more escapes than I thougnt.  :joy:
https://doc.rust-lang.org/reference/tokens.html#ascii-escapes
![image](https://user-images.githubusercontent.com/30254428/149651222-ca5a2ec3-5dbb-4c24-ac0b-64b41e6c498b.png)
Shoul

[2022-01-16 07:52] Logan-Dang opened #67 "Dada repo does not have a descriptive README."
Dada repo could have a bit more in the README as to what it is about and what it does.

[2022-01-16 08:04] Logan-Dang commented on #67
Not very experienced with READMEs in general so let me know if you believe this to be redundant.

[2022-01-16 11:01] #67 closed

[2022-01-16 11:01] nikomatsakis opened #69 "Tests for `+=` and friends"
@brson added binop support in #56 but I don't *think* it included tests for `+=`. We should add a test like

[code]

[2022-01-16 11:03] nikomatsakis opened #70 "Document how the test suite works"
Now that Dada is starting to work, we should add a "Development" chapter to the mdbook and document e.g. how to run the test suite and add new tests.

Key points:

* `cargo dada test` and `cargo dada test --bless`
* `#! ERROR foo` comments -- either on the line or on the line after
* Create a new `.dada` file anywhere in `dada_tests`, prefer to keep things organized by functional unit or major fea

[2022-01-16 11:04] nikomatsakis opened #71 "Test suite cross reference"
Ah, that reminds me. A feature I've always wanted in rustc is to have better linking of tests to the code they test. Let me try to remember what I had planned...

One thing I wanted was to have "hashtags", so you could put `#foo` into a test and `#foo` into the code to link them, and we would report an error if there was a `#foo` that appeared either *only* in the code or *only* in tests.

But I'm

[2022-01-16 11:06] nikomatsakis commented on #62
Hmm, regarding suffixes, I don't know! Let's run with `i` and `u` for now?

[2022-01-16 11:07] nikomatsakis commented on #66
@XFFXFF I think we don't have to support everything. Just `\n`, `\\`, and `\"` to start.

[2022-01-16 11:14] nikomatsakis commented on #54
I think we will have to see!

Types are not a full solution: Rust's current rules are a common source of user confusion, or at least they used to be; I haven't heard that particular complaint in a while, maybe because error messages are better, or maybe because I'm not on the "front lines" of teaching people at that stage anymore. But it's true that using types I think we could make a simpler set

[2022-01-16 11:15] nikomatsakis commented on #54
I feel like the other option would be a lightweight way for blocks to express that they "pass up" their final value. This is akin to your idea of having `= {` be block syntax. Something like `^expr` as the final thing in the block. But I don't really like that either. =)

[2022-01-16 11:18] nikomatsakis commented on #54
I guess one last idea while brainstorming --

Plausibly you could use a distinct set of braces. e.g. `{{` or `[` for a "block" that returns a value.

Here are a whole bunch of variations based on what we've said...

[code]

[2022-01-16 11:21] nikomatsakis commented on #54
Thinking the `=22` option through more, it has implications that, while relatively clear, I'm not sure if I like, for example this:

[code]

It just feels a lot less *elegant* to me than deciding whether the final expression is a value based on the context-- but I can see that it would likely be easier to teach and *perhaps* clearer to read? That last part is not especially clear to me.

This is i

[2022-01-16 11:46] nikomatsakis opened #73 "`==` and friends don't seem to work for me"
Playing with the playground these tests weren't parsing correctly...

[code]

similarly `>=` 66 and so forth. Not sure why. Probably something wrong with the `eat_op` function of the parser, perhaps I failed to order the "longer" binops first in the list?

[2022-01-16 11:46] nikomatsakis commented on #73
cc @brson

[2022-01-16 13:28] XFFXFF commented on #73
The reason for this bug is that our parser tries to parse `x` in `if x == 66` as a local variable
https://github.com/dada-lang/dada/blob/2dcdb615de8fd1919a3f8411f300666db45c5adb/components/dada-parse/src/parser/code.rs#L337-L355

[2022-01-16 13:37] XFFXFF commented on #73
A simple solution is to try `eat_op(Op::EqualEqual)` before `eat_op(Op::Equal)` in the function post above, if successful, return `None`. What do you think? @nikomatsakis

[2022-01-16 14:01] XFFXFF commented on #69
`+=` and friends don't seem to work, our parser doesn't support parsing them currently.

[2022-01-16 19:37] nikomatsakis commented on #73
Hmm. Interesting. I think this is a bug in `eat_op`. It was not *supposed* to accept an operator that is followed by other operators except in particular cases:

https://github.com/dada-lang/dada/blob/2dcdb615de8fd1919a3f8411f300666db45c5adb/components/dada-parse/src/parser.rs#L98-L105

I think that code needs to be something like this:

[code]

[2022-01-16 19:37] #61 closed

[2022-01-17 01:37] #8 closed

[2022-01-17 08:30] brson commented on #54
I've always liked the idea of `^` for situations that suggest pointing up the stack, and the

[code]

style examples do look kind of good to me. I agree though that having multiple branches all end in `^foo` is probably going to get ugly fast.

You could also prefix value-yielding blocks

[code]

[code]

[code]

But yeah it does seem unnecessary since in these cases its obvious the block needs to

[2022-01-17 08:36] brson commented on #54
Here's one more idea, assuming that we just add a special syntax for the function block.

This approach has the downside you mentioned of requiring superflous syntax in typed dada:

[code]

But what if the extra syntax for value-yielding functions is the same syntax as for declaring return types?

[code]

[2022-01-17 09:46] XFFXFF commented on #54
After reading the above discussion, it seems that no one has mentioned the use of return. Is there any disadvantage?
[code]

[2022-01-17 13:42] #66 closed

[2022-01-17 13:47] XFFXFF opened #76 "`\"` is not the terminator of a string"
For example `"Foo \" Bar"` , Now the lexer thinks `"Foo \"` is a string literal
https://github.com/dada-lang/dada/blob/ecd3aab2a960d689b22c65b00d4009cc26611791/components/dada-lex/src/lex.rs#L197-L205

[2022-01-18 05:23] brson opened #78 "Add a repl"
If dada is to be capable of interactive use then it needs to be architected and tested early. And some people (like me!) can usefully dogfood even a basic repl.

I think we should add a repl and get it under test in a way that it can maintain parity with the batch interpreter, probably put it on the playground.

I have never implemented a repl before, but to my mind the main thing that distinguish

[2022-01-18 05:27] brson commented on #78
I have a branch where I am working on this and have the UI, items, and basic expressions working, https://github.com/brson/dada/tree/repl, but the code is a mess while I am learning how the compiler works. I could submit a cleaned up wip pr for review in a week or so, but I'm enjoying tinkering on it for now and don't know when I'll actually want to merge something.

[2022-01-18 05:39] brson commented on #78
One problem with the previously-referenced pattern for handling functions and expressions is that it doesn't allow for persistence of the program state between repl steps, at least that I can see. It doesn't recompile the whole program, but it does reevaluate the whole program, every step.

[2022-01-18 06:54] #76 closed

[2022-01-18 07:03] #73 closed

[2022-01-18 09:10] Jzow opened #80 "I want to ask, is this warehouse a rewriting of the rust-lang"
It looks great

[2022-01-18 09:41] nikomatsakis commented on #54
@XFFXFF Heh, yes, I am assuming we would not want to use `return`. I really like the Rust way of having the last value in a function be its return value. But it's good to include it on the list of options.

[2022-01-18 09:47] nikomatsakis commented on #54
Hmm:

[code]

Is not bad, I admit. One downside is that, if we want to have the function return something that is not `{}`, we get in the position of deciding whether the next token is a type or not... but that seems survivable. We could even make the syntax for a closure with arguments be something like `x -> expr` which kind of "connects" to the `->` syntax (although I do have a soft spot for Ru

[2022-01-18 10:27] nikomatsakis commented on #80
See https://dada-lang.org/faq.html#isnt-dada-competing-with-rust for more information =)

[2022-01-18 10:27] #80 closed

[2022-01-18 10:28] nikomatsakis opened #81 "Publish the crate docs"
We should extend the CI to publish the crate API docs... ideally at forge.dada-lang.org or something like that.

Should maybe put the developer docs there too?

[2022-01-18 12:49] nikomatsakis opened #82 "alternate issue formatting"
ariadne is very pretty but it seems to have some bugs (multiline spans don't always show the full span...maybe that's on purpose?) and it doesn't *appear* to be actively maintained. We should evaluate [miette](https://crates.io/crates/miette) or perhaps [annotate-spinnets](https://crates.io/crates/annotate-snippets).

[2022-01-18 20:03] brson commented on #54
That same arrow syntax with where clauses but no types:

[code]

[2022-01-19 09:37] nikomatsakis commented on #54
@XFFXFF I'm not sure if this is what you meant, but it occurs to me that we could do

[code]

as a wordy alternative to `->`.

[code]

I think overall I prefer `->`, I like also that it makes Dada feel a bit closer to Rust. =)

[2022-01-19 09:56] nikomatsakis opened #84 "test harness doesn't permit specifying the end column of a diagnostic"
I left some code in the test harness to specify the columns of a diagnostic but never modified the "expected diagnostics" function to fill that field in. I expected to parse something like this

[code]

and then have the system check that the highlight was as expected.

To make this work, the first thing is to modify the `expected_diagnostics` function:

https://github.com/dada-lang/dada/blob/6dcc

[2022-01-19 11:37] XFFXFF commented on #54
@nikomatsakis  Yes, that's what I mean, and I prefer `->` too. =)

[2022-01-20 03:57] XFFXFF commented on #84
Maybe we should fix #52 first?

[2022-01-20 14:06] XFFXFF opened #86 "Value can not be on the left-hand side of `+=` or friends"
The following test should get a validation error,  as `foo()` is a value, not a place in memory
[code]

[2022-01-20 14:10] #69 closed

[2022-01-20 20:20] nikomatsakis commented on #84
@XFFXFF I actually did fix that...though maybe it's in my branch and not landed.

[2022-01-20 20:21] nikomatsakis commented on #52
I fixed this -- I think the fix is in https://github.com/dada-lang/dada/pull/85

[2022-01-21 02:11] brson commented on #6
I gave this a look but felt uncertain about how to implement it, mostly regarding whether the test harness should try to distinguish between diagnostics emitted at compile time and at run time.

[2022-01-21 12:16] nikomatsakis commented on #6
I was expecting an annotation at the top of the file like

`#! PANIC foo bar baz`

which indicates that the result should be `Err` and the display message should match foo bar baz.

[2022-01-21 23:56] brson commented on #6
I'll give it another look after https://github.com/dada-lang/dada/pull/85 lands.

[2022-01-22 01:25] nikomatsakis commented on #52
There's a partial fix in #85, but I realized it's not perfect, it doesn't handle strip trailing comments because it literally just removes whitespace. We should probably do it more at the token level. I'll open a follow-up issue.

[2022-01-22 01:28] #52 closed

[2022-01-22 01:28] #14 closed

[2022-01-22 12:12] nikomatsakis opened #88 "minifying the share url doesn't work in playground"
The share button has some code to call out to `is.gd` to minify the URL, but it fails for access control reasons. I don't know if there's a way to solve that problem that works purely client-side -- if not, we should just remove that minification logic. I left it there for now since it is harmless enough.

[2022-01-23 01:22] XFFXFF opened #91 "It seems odd that `Expr` appears twice in validated.ref"
https://github.com/dada-lang/dada/blob/12dd605181cc4ff36b88ea03a4f19357ef7c0015/dada_tests/hello_world/validated.ref#L21-L23
Now `Expr` always appears twice in the validated.ref, which seems a little odd to me, would it be better to only appear once? @nikomatsakis

[2022-01-23 12:38] nikomatsakis commented on #91
@XFFXFF They are different counters -- one is the 'validated' id, the other is the 'syntax' id. It would be better if that were clearer. Maybe better to use `{}` form so we can give them names.

[2022-01-23 12:39] nikomatsakis commented on #91
Or change the names to `SExpr` and `VExpr` or something.

[2022-01-23 13:09] XFFXFF commented on #91
@nikomatsakis  I see, one more question, why do we need to show expr id in validated.ref or syntax.ref ? Actually, I can't get much information from these ids, what can you get from them?

[2022-01-24 08:31] XFFXFF opened #92 ""Ending a lease" doesn't seem to work"
"Ending a lease" doesn't seem to work as the [document](https://dada-lang.org/dyn_tutorial/lease.html#ending-a-lease) says, you can reproduce by clicking this [link](https://dada-lang.org/playground/?code=class+Point%28x%29%0A%0Aasync+fn+main%28%29+%7B%0A++++var+p+%3D+Point%28x%3A+%22p%22%29%0A++++var+q+%3D+p.lease%0A++++print%28p.x%29.await%0A++++%0A%7D%0A)
![图片](https://user-images.githubusercon

[2022-01-24 09:58] nikomatsakis commented on #91
@XFFXFF other parts of the code sometimes references the id of an expression -- e.g. the breakpoint is set at a particular expression. Being able to cross-reference and see which part of the code that refers to is useful. That said, I agree that it's harder to read than it used to be.

[2022-01-24 09:58] nikomatsakis commented on #92
Permissions aren't really implemented, I'm working on that now :)

[2022-01-24 10:08] nikomatsakis commented on #78
I think you were right to raise this question early, as the design wasn't really made with a REPL in mind.

[2022-01-24 10:45] #91 closed

[2022-01-25 12:13] #42 closed

[2022-01-27 05:15] brson commented on #78
A repl could arrange never to modify existing items by quietly giving them all unique names, though then it has to figure out how to rewrite every expression to use the most recent uniquely-named item.

Having the interpreter be managed by salsa is an interesting prospect that would make it behave in ways that are unique and interesting, though with a presumably huge complexity/performance penalty

[2022-01-27 05:21] brson commented on #78
How a rewind/replay capability might help an interpreter is something I haven't thought about.

[2022-01-27 05:27] brson commented on #78
The main reason I don't love reexecuting the entire history every step, both in a repl, and during rewinding, is because it replays side-effects. With dada having a runtime in control of I/O it could be possible to have it record the side effects and selectively lie to the program about I/O so as not to e.g. re-print to the terminal.

[2022-01-27 10:25] #84 closed

[2022-01-28 10:14] nikomatsakis commented on #78
@brson yes, at the moment there are no notable side-effects, but this is partly why I made a point of creating a `Kernel` abstraction that is meant to encapsulate all side-effects, so that we can capture inputs and replay them etc.

[2022-01-28 10:17] nikomatsakis commented on #78
I wonder @brson is what we want is to add a new kind of "thing" to the IR -- not a function but more like a top-level "expression". Then we could add new ones.

(I mean, tbh, it *might* even make sense if we didn't have a main function but just let people dump code in the outside context, although that's always bugged me for some reason.)

[2022-01-28 10:31] nikomatsakis commented on #6
I just realized that "at the top of the file" doesn't make sense: interpreter errors have spans like everything else, so the `#! PANIC` annotation should just go on a regular line. I am debating now whether to repurpose "PANIC" as a special sort of severity or to use a different sigil than `!`, e.g., `#@`.

Anyway, it's a relatively minor point, the key thing is that there are static errors and ru

[2022-01-29 11:07] nikomatsakis commented on #78
@brson ok, I've been thinking about a refactoring to the interpreter that seems relevant here. I'm planning to restructure it so that there is a core data structure (the "machine") that just tracks:

* the heap
* the data on the stack, along with current PC

and then there is a separate bit of code that takes a machine and moves execution forward by one step. I think I will move away from the idea

[2022-02-02 11:27] #6 closed

[2022-02-04 10:18] nikomatsakis opened #103 "`fn ->` syntax"
In #54, we decided that we should modify functions so that, to return a value, they have to be written with `->`. The idea then is that

[code]

in fact returns unit, but

[code]

returns an integer.

This is to avoid accidentally returning the final value of a block.

In the future, `->` will be used to introduce a type annotation for the return value as well, just like Rust.

[2022-02-04 10:18] nikomatsakis commented on #54
OK, I think this is settled, closing in favor of #103. We'll use `->` syntax and see how it feels.

[2022-02-04 10:18] #54 closed

[2022-02-04 10:30] nikomatsakis opened #105 "Question: thunk terminology"
I decided to move away from the Rust term `Future` after hearing a number of people get confused about it. For one thing, the normal use of the term `Future` involves a parallel process, and in Rust that's not the case. I think that [thunk](https://en.m.wikipedia.org/wiki/Thunk) is accurate enough, but not widely used and perhaps confusing (though kind of fun to say). I find myself not wanting to

[2022-02-04 12:49] nikomatsakis opened #107 "highlight the text output by a breakpoint"
Once #106 lands, we have a lot more info about which parts of the output came from what part of the code. One of the things we can do is to track the text that was output by the highlight line from the code and underline it.

Actually, to do that, we might want to save the length of the buffer when the breakpoint starts and ends instead, which I didn't do but which would be easy.

[2022-02-04 12:50] nikomatsakis opened #108 "let user click in the output to set a breakpoint"
Once #106 lands, we have the ability to figure out the PC (and hence span in the source) for each piece of output. When the user clicks in the output window, we should make that set the breakpoint at the corresponding point and thus highlight the appropriate state at that moment in time.

One challenge (we can forego it for now) will be loops -- i.e., we would ideally select not just the right *br

[2022-02-05 17:02] crlf0710 commented on #105
Maybe something like "action" or "microtask"? Not sure how that sounds in English.

[2022-02-05 17:05] crlf0710 commented on #71
It would also be nice if such hashtags can serve documentation translation purposes!

[2022-02-08 00:40] brson commented on #78
The new interpreter structure gives the repl more possibilities, and I've made some progress, able to set and reference variables. I'll post a wip pr soon so you can track it.

The approach I'm using now is similar to what you originally suggested, where every repl step I create a stub function to contain the next step, and pass the entire environment into it. When the stub is called I save the ma

[2022-02-08 01:02] nikomatsakis opened #113 "`+=` desugars wrong"
If you run

[code]

you get a panic right now:

[code]

In general, we need to improve this to desugar to

[code]

or something like that.

I bellieve that form should also work for e.g. `foo.x += 1` (where you would get `tmp = foo.lease`)

[2022-02-08 01:04] nikomatsakis commented on #113
General area of the code:

https://github.com/dada-lang/dada/blob/00893256679e3bb89bcaf7c92fcb4db28917cdb2/components/dada-validate/src/validate/validator.rs#L379-L402

[2022-02-08 23:31] brson commented on #105
I've always been unsure of what exactly "thunk" means. I haven't heard much confusion about the term future in Rust, but what about "promise"? It must be the most common word for this typo of thing since js uses it.

[2022-02-08 23:34] brson commented on #105
Though also if we assume dada users will often come from rust, there's something to be said for using rust terminology, just like with rust there was always a decision about whether to use established terms from languages like c++ and js.

[2022-02-08 23:40] brson opened #117 "Unexpected parse with unit tail expressions"
I tried to type something like this recently

[code]

It results in an unexpected error:

[code]

Without statement terminators, there are situations where a tail expression has a type but that is not desirable. The obvious solution is to end the block with `()`, but it parses wrong. Writing `{ () }` does work but is unwieldy.

[2022-02-08 23:41] brson commented on #117
Ah, one can also write `{ }` to produce a unit, and the compiler heuristically suggest it. Still though, this seems like an unfortunate thing to run into.

[2022-02-08 23:48] brson commented on #117
Parenthesized exprs don't work yet but there may be similar issues with things like

[code]

[2022-02-09 11:05] nikomatsakis commented on #105
I've heard confusion in talking to folks at AWS, caused I think by Java's terms. They pointed out that Rust's future is closer to Java's [`Callable`](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/Callable.html). I may be over-rotating on this feedback. I do genuinely feel the term is a bit confusing -- promise is maybe better, yes. Hmm.

[2022-02-09 11:08] nikomatsakis opened #120 "spans for cancelled permission errors etc are not great"
When permissions are revoked because of the GC, the span is the *next* statement that is about to start executing. That's confusing! Also, we should track the PC when things become shared or atomic, so we can cite that point in our error messages.

[2022-02-09 11:09] nikomatsakis opened #121 "allow clicking on labels in error messages to be taken to that point-in-time"
It'd be really cool if, when you get an error that says something like "permission revoked here", you could click on the error to be taken to the state of the program at that point.

RIght now, our breakpoints assume no loops etc, to really make this nice we'd have to augment that with a better notion of backtracking, but I guess it would work "ok" for now to just take you to the PC of the span.

[2022-02-09 11:10] nikomatsakis opened #122 "examine and specify rules on what is live in GC"
The GC currently keeps everytihng live that is reachable from temporaries etc, but I think that is more than what we want. Also, it collects things like leased values that are unreachable, even if there is a live owner for that value. I'm not sure if that makes sense or not! Have to think about that.

[2022-02-10 04:03] brson opened #123 "Use total ordering for floats?"
In https://github.com/dada-lang/dada/pull/115 @nikomatsakis suggested dada might use a total ordering for floats.

The standard behavior of nans is a big source of frustration without much benefit. It would be convenient to get rid of it.

I myself don't understand the implications of defining floats to have a total ordering.

[2022-02-10 08:08] brson commented on #123
https://github.com/dada-lang/dada/pull/115

[2022-02-10 10:16] nikomatsakis commented on #123
Implications I can think of:

* Huge source of bugs and confusion gone

But:

* Inconsistent with virtually every other language
* Have to use somewhat slower hardware operations or compile things in somewhat slower way
* May affect ability to SIMD-parallelize operations like `[float] < [float]`? Not sure

The last two points seem important.

There is one final unknown:

* Does anybody *want* the

[2022-02-10 10:16] #64 closed

[2022-02-11 01:05] nikomatsakis opened #124 "lint for shadowing live variables"
At least as currently implemented, Dada distinguishes declaring a new variable (`p = expr`) from re-assigning the value of an existing variable (`p := expr`). This can easily be confusing. Consider this program:

[code]

This program will never terminate because the `n = n + 1` declares a new variable.

We should either get rid of the idea of `:=` *or* have a lint that detects when you shadow a li

[2022-02-11 10:47] nikomatsakis opened #127 "break/continue are not parsed"
I just noticed that `break` and `continue` are not parsed. =) I think the validation/BIR code is mostly there. We should fix that!

### Expected syntax

[code]

We should probably add some syntax for named loops but that seems like a separate, follow-on feature.

### Precedence

The precedence of `break` and `continue` should be *very* low, e.g., `break 22 + 44` should yield break with `66`, and `

[2022-02-11 10:48] nikomatsakis commented on #127
A test:

[code]

[2022-02-11 10:50] nikomatsakis commented on #127
Probably good to test `while` loops too

[2022-02-11 10:51] nikomatsakis opened #128 "Return is not parsed"
Just noticed that `return` is not parsed. We should fix that! I think the validation/BIR code is mostly there, but I guess we'll find out.

### Expected syntax

[code]

### Precedence

The precedence should be very low, so that

[code]

returns 66 etc

[2022-02-11 10:58] #122 closed

[2022-02-12 08:45] brson commented on #17
I've started on this.

[2022-02-12 10:36] nikomatsakis opened #131 "which web editor to use?"
Currently we are using [ace.js](https://ace.c9.io/). It was painless to setup and I've always found play.rust-lang.org quite pleasant to use. But there are some shortcomings, and thinking forward there are some features I would like that I it may not support:

* Squiggly underlines for errors, warnings, breakpoints etc
* Ability to overlay complex messages with arrows and things? ([I want flow-bas

[2022-02-12 12:36] brson commented on #17
parol has a neat feature that it can emit random valid syntax, which could be useful for testing.

[2022-02-13 11:49] #128 closed

[2022-02-13 12:40] nikomatsakis opened #133 "Question: naming conventions"
I am debating whether to use Rust-like `snake_case` naming or Java/JS like `camelCase`.

On the merits, I think I would adopt camelCase:

* camel-case is more common
* over time, I've come to appreciate that `foo.someField.someOtherField.share` is easier to visually separate than `foo.some_field.some_other_field.share` (the `.` and `_` kind of run together for me)
    * there's some minimal resear

[2022-02-13 12:42] nikomatsakis commented on #133
Heh, I am realizing that I associate `foo_bar` with being kind of edgy and independent, and `fooBar` camel-case with being all conventional and stodgy. This...is probably just me and not a good basis for making a decision.

[2022-02-13 14:05] XFFXFF commented on #133
Personally, I prefer `snake_case` a bit, which separates multiple words more intuitively. And for `camelCase`, I may need to add a step in my mind which words it is made of. This may be because my native language is not English and I am not that sensitive to it.

[2022-02-14 04:31] brson commented on #17
Now it's only 9 tests failing, all related to format strings (which I haven't tried to parse yet); and return without value and unit/tuples. The latter two both seem ambiguous to me.

Return without expression because either:

- either the expression is optional ,r
- it is not possible to have any expression-statements after a return statement

e.g.

[code]

Unit/tuples, at least in statement posi

[2022-02-14 04:41] brson commented on #17
I am though very happy for you to correct me and fix my grammar definition. I don't understand this subject well.

[2022-02-14 05:11] brson commented on #133
I no longer remember why we chose a mix of camel caps and snake case in rust, just that it took some precedent from python. I think the outside world has often thought rust's convention is weird.

It doesn't matter a lot to me, but I do find myself getting conventions wrong in other languages because I habitually use rust conventions.

I think dada will primarily attract curiosity from rust develo

[2022-02-14 05:16] brson commented on #133
I do want to emphasize though that I do not have a strong opinion.

[2022-02-14 10:37] nikomatsakis commented on #133
I think you're right that we have to choose carefully where we choose to stray from convention, both in comparison to Rust and in comparison to other languages.

I don't exactly recall how we chose `snake_case`, but I think we did borrow it from Python and because `_` are often used by C developers (though conventions there vary quite a bit).

I think I'm persuaded that we should stick with Rust c

[2022-02-14 14:38] nikomatsakis commented on #17
Nice! I'll make some time to check this out.

[2022-02-18 09:15] nikomatsakis opened #134 "Question: parsing operators and newlines"
How to think about binary operators and newlines? Rust had the same issue to wrestle with and I suspect we want the same general answer. I'm referring to things like this:

[code]

The rule I propose:

So that you have to write `b - \n 5` and not `b \n - 5`. That'd be a very simple rule.

Other rules I can imagine:

* Statement-like expressions (e.g., `if`), when followed by a newline, do not acce

[2022-02-18 09:15] nikomatsakis commented on #134
cc @XFFXFF

[2022-02-18 09:18] nikomatsakis commented on #134
Note that the rule i proposed would make this code:

[code]

set a to `-5`, and discard the `if` result.

Ah, I just remembered that I think I generally permitted newlines inside of vectors and things without a comma (I should write some tests for that...), so this would fit with that. e.g. I think this is legal dada right now =)

[code]

and hence:

[code]

[2022-02-18 09:19] nikomatsakis commented on #134
My thinking was that we can just await the whole "trailing `,`" question altogether and use newlines. Not sure if that was a good idea. =)

[2022-02-19 09:17] nikomatsakis opened #135 "Question: stop checking in (but keep generating) the ast/validated/bir files?"
I am wondering if we should remove the ast/validated/bir files from the test directory, or at least put them in `.gitignore`. I thought they'd be useful but they make git pull requests awfully hard to read.

(Similarly, I wonder if we should strip colors from the stdout...)

[2022-02-19 09:20] #62 closed

[2022-02-21 04:00] XFFXFF commented on #63
fixed in https://github.com/dada-lang/dada/pull/129

[2022-02-21 04:00] #63 closed

[2022-02-21 04:23] brson commented on #17
I added two xtasks for grammar so you don't have to type the full commands:

- `cargo xtask grammar build`
- `cargo xtask grammar decidable` which shows the maximum lookahead

[2022-02-21 04:46] brson commented on #17
33 tests failing now. I'll give it another look soon.

[2022-02-21 05:26] brson commented on #17
Well I fixed the problem with return-without-expr by making it only possible to appear as the final expression in a block.

[2022-02-21 05:52] brson commented on #135
I think removing colors would be an improvement.

I am not sure yet the value of having all the dumps in the test directory. The only advantage I see is that it _could_ help someone see if they _accidentally_ changed something they didn't expect, but it's so much noise that I doubt it's even useful for that. I know I never look at them.

There are times when you want to ensure some code definitely

[2022-02-21 06:01] brson commented on #134
Given

then

[code]

doesn't seem like it would parse, unless `(Expr Expr)` parses - is it going to? That would make blocks and parens, `(Expr Expr)` and `{Expr Expr}` .... the same?

Having the grammar be newline-sensitive sure doesn't appeal to me much - I didn't realize Rust did this.

This problem seems similar to the disambiguation of tuples and function calls in https://github.com/dada-lang/

[2022-02-21 06:19] brson commented on #134
[code]

Cases like this sure do look confusing.

The rules could be different inside `{ }` vs inside `( )` or the compiler could lint against it inside `( )` in a way that would persuade people never to write such code.

[2022-02-21 06:24] brson commented on #134
Another seeming solution to the binops case in particular would be to require binops to always be space-delimited, and unary ops not: `1 - 2` vs `-2`.

[2022-02-21 07:17] brson commented on #134
Another newline-sensitive solution that might fix this is that for every sequence of expressions the expressions both newlines and commas act as separators, with the separators having precedence.

[2022-02-23 03:18] XFFXFF commented on #135
I also think removing the color would be an improvement.
The ast/validated/bir files are useful when I read the source code of the parser/validator/brew modules, they help me understand how these modules work. I don't look at them during code reviews or running `cargo dada test --bless`. I'd say put them in `.gitignore`

[2022-02-26 11:21] nikomatsakis commented on #134
@brson

Rust doesn't make the grammar newline sensitive, but it distinguishes uses of things like `if ... { } else { }` in "statement position" from elsewhere. It further requires that a "statement-like" `if` (etc) has `()` type. That's why [this program doesn't type check](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=675f6f7760dbf167069877decb20232b).

Good point, I thi

[2022-02-27 10:46] nikomatsakis commented on #135
That all sounds good. I think I would happily remove the colors if I knew how to do it. =) I forget if that was hard for some reason.

[2022-02-27 10:46] nikomatsakis commented on #135
I definitely find the IR files useful to have, but I agree with `.gitignore`.

[2022-02-27 10:49] nikomatsakis opened #139 "Modify test harness to stop emitting color; add IR reference files to gitignore"
Per https://github.com/dada-lang/dada/issues/135, we should modify the test harness...

* to stop emitting color in the stdout files
* to generate the various IR files but not to check if they have changed (they are for looking at, not for reference)

The second step allows us to add them to `gitignore` (and remove the existing files from the repository)

[2022-02-27 10:49] nikomatsakis commented on #135
Opened https://github.com/dada-lang/dada/issues/139

[2022-02-27 10:49] #135 closed

[2022-02-28 05:07] brson commented on #134
I think we might as well implement the rule you suggest, at least for now. I'd love to get the reference grammar and production grammar in agreement so they can be kept in sync forever. Parol has some ability to turn on and off newline sensitivity based on context, so I think it should be able to handle the rule.

Just one more thing to point out: it's been a long time since I read Code Complete b

[2022-02-28 06:29] XFFXFF opened #141 "`(expr)` is not supported"
Things like `(1)` or `(1 + 1)` will get an error saying
[code]

related code
https://github.com/dada-lang/dada/blob/5b5e366465c2bddec7db832a6e6cd6a2b4865c64/components/dada-brew/src/brew.rs#L323-L339

[2022-02-28 09:45] XFFXFF opened #142 "`>=` and `<=` are not supported"
`+=`, `-=`, `*=`, `/=` are supported in #83, but `>=` and `<=` are not.

[2022-02-28 10:03] nikomatsakis commented on #134
Big +1 to getting ref / actual grammar in sync.

I did consider that the rule would mean you can't move operators to the start of the line. I thought it wasn't as popular for some reason, checking rustfmt suggestions it at least does move operators to the beginning ([example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=63e64c7afc01751a06fe3afeb25c3b7e)).

One other cons

[2022-03-02 06:17] brson opened #145 "Invalidated diagnostics live forever"
Updating source follows this pattern:

[code]

These diagnostics are "accumulated" by salsa. From what can tell these diagnostics stick around forever. If the source text changes then the diagnostics remain, but they reference text that no longer exists.

I have run into this in the repl, which continuously updates the source text.
At the moment the repl doesn't "commit" steps that fail to compile

[2022-03-02 10:29] nikomatsakis commented on #113
I'm fixing this "en passane" in the modal harmony branch

[2022-03-03 05:36] brson commented on #17
If we're going to be newline-sensitive for disambiguation elsewhere then we should probably do it for return/break/continue as well.

[2022-03-03 09:20] nikomatsakis commented on #145
Yeah, the salsa branch we are based off of has some bugs =)

I've been putting off fixing them because I wanted to make progress on dada but ...

[2022-03-03 09:39] nikomatsakis commented on #139
Actually, @lqd, in merging #140 I overlooked an issue!

That PR ignored *all* ref files, but I think we still want to be checking certain files-- actually, I guess it's just one.

Want to check:

* annotations in file match actual errors (:heavy_check_mark: this matches main)
* stdout/stderr from execution match `stdout.ref` and `stderr.ref` (and matches annotation in file) (:heavy_check_mark: thi

[2022-03-03 09:42] lqd commented on #139
I'll take care of that

[2022-03-03 09:46] nikomatsakis commented on #139
Oh, I forgot one thing -- `HeapGraph-*.ref` -- I'm torn on this one. I do want to be testing that the heap graph dump is successful and contains certain key elements, but the ref files contain an awful lot of details.

Still, I think for now we should keep them.

[2022-03-03 09:48] nikomatsakis commented on #139
The idea is that they are testing that the `#?` output contains what we expect it to contain. Admittedly, I mostly ignore diffs that occur in them, which is a bad sign. :)

[2022-03-03 09:54] nikomatsakis commented on #139
(One thing I was considering was trying to find some kind of "ascii-art" renderer for graphviz files and checking *that* in, I think I would read that much more happily...)

[2022-03-03 10:12] nikomatsakis opened #147 "add typo checker to CI"
Typos are annoying. Let's add a spell checker to our CI.

https://crates.io/crates/typos looks cool, maybe that one? I like how it's a bit more tailored than a full-on spell check.

[2022-03-03 12:04] nikomatsakis opened #149 "give option to show BIR, syntax/validated tree, on playground"
It'd be nice to have the option to inspect the BIR, syntax tree, etc on the playground

[2022-03-03 12:04] nikomatsakis commented on #139
@lqd yes! The only tools I found for that were written in perl, which was kind of a drag.

[2022-03-03 12:06] nikomatsakis commented on #139
Honestly, maybe we should do a web request to that site :)

[2022-03-03 12:06] nikomatsakis commented on #139
(heh, or I guess setup our own...that'd be kind of rude)

[2022-03-03 12:08] nikomatsakis commented on #139
I wonder if we could compile the whole kit-and-kaboodle to wasm somehow :)

[2022-03-03 12:16] nikomatsakis opened #150 "render HeapGraph in ASCII art for test harness"
Right now we dump the DOT format but that's unreadable. It'd be cool to use something like https://dot-to-ascii.ggerganov.com/ and save the ASCII format.

Relevant research into how this can be done

* https://stackoverflow.com/questions/3211801/graphviz-and-ascii-output
* https://metacpan.org/release/TELS/Graph-Easy-0.64

Using perl seems fine but we'd have to make sure the installation is super

[2022-03-03 12:17] nikomatsakis commented on #139
@lqd filed https://github.com/dada-lang/dada/issues/150

[2022-03-04 10:59] nikomatsakis commented on #134
Another thought that I had:

Maybe `if true { ... } else { ... }` and friends should just always require parentheses if you plan to apply an operator to them? I feel like it's kind of hard to read anyway. Some examples:

[code]

Not sure, the parens don't look great. Going to leave this comment for posterity's sake at least though. :)

[2022-03-22 08:27] nikomatsakis commented on #139
@lqd oh my :) well, we could also host it? not sure how hard that would be.

Still, it feels like overall it'd be better/easier to just add a way to dump the output in a more readable format than graphviz.

[2022-03-22 08:28] nikomatsakis commented on #139
But I think i will mark this bug as fixed!

[2022-03-22 08:28] #139 closed

[2022-03-22 08:34] lqd commented on #139
ASCII output would be super cool, but maybe svg or another image format would be easier and acceptable in the meantime ? It's not really easily readable as text, but neither is a sufficiently large/complicated .dot file. We can easily do svg output in pure rust via https://github.com/nadavrot/layout.

[2022-03-22 15:08] nikomatsakis commented on #150
@lqd, I'm responding to this comment on this thread:

I think what we *really* want is the ability to specify the "interesting bits" of the heap-graph dump in the `#?` annotation.

[2022-03-22 15:10] nikomatsakis commented on #150
e.g. "it ought to show this variable in this state"

[2022-03-22 15:10] nikomatsakis commented on #150
so maybe the right way to think about this is more about looking at the things we're trying to test and how to express them

[2022-03-22 15:25] nikomatsakis opened #155 "logo"
I am working with a graphic designer to create a logo for Dada.

[2022-03-22 15:27] nikomatsakis commented on #155
This is based on a famous piece of Dada artwork: https://www.moma.org/learn/moma_learning/marcel-duchamp-bicycle-wheel-new-york-1951-third-version-after-lost-original-of-1913/

[2022-03-27 16:29] nikomatsakis opened #156 "quesiton: scheme-like identifiers"
I've been using scheme lately and I have to say that being able to create identifiers that include all kinds of characters is...super fun? Like `unify/vars` or `my:unification+engine` or even just `this-is-a-name`. Combined with the fact that forcing spaces around binary operators would solve a few parsing problems, I am wondering about allowing variables to include "infix" or "postfix" punctuatio

[2022-03-28 06:09] brson commented on #155
3 is best.

The bicycle theme is reminiscent of the rust logo for better or worse.

[2022-04-01 08:51] guanqun commented on #155
Sorry to come out of nowhere, aside from 3, I think the second is quite nice too, as it has the "dada" in the picture, though the D has slightly bigger width.

[2022-04-04 08:06] Veeupup commented on #142
@XFFXFF  I'm verry interested in this issue, maybe let me try it? : D

[2022-04-18 10:11] nikomatsakis commented on #155
This was intended :)

[2022-04-18 12:30] nikomatsakis opened #159 "modal harmony"
The "modal harmony" branch is my attempt to "revamp" dada by adding "modes" to variables. This is a tracking issue covering the plan and pending work and decisions.

### The plan

The plan is described in #143, which updates the tutorial to explain the new model

### Implementation steps

* [ ] https://github.com/dada-lang/dada/pull/148:
    * Introduce modes on local variables, parameters, fields

[2022-04-19 06:14] noneback commented on #127
I'm quite interested in this issue, but I have no experience in PL area. May I give it a shot?

[2022-04-19 06:41] XFFXFF commented on #127
Sure, it's yours now

[2022-04-19 06:43] XFFXFF commented on #127
@noneback I assigned you but feel free to unassign yourself :)

[2022-04-19 16:57] #103 closed

[2022-04-23 08:19] nikomatsakis commented on #127
@noneback would you like a few tips to help you get started?

[2022-04-23 08:23] nikomatsakis commented on #127
The relevant code is

https://github.com/dada-lang/dada/blob/main/components/dada-parse/src/parser/code.rs

and here is an example of where the `return` keyword is parsed:

https://github.com/dada-lang/dada/blob/606c1d89146beee21ecdca542847fd346a65a3a4/components/dada-parse/src/parser/code.rs#L178-L188

[2022-04-30 10:08] nikomatsakis commented on #155
Now available at https://github.com/dada-lang/dada-artwork

[2022-04-30 10:08] #155 closed

[2022-05-03 09:35] nikomatsakis opened #167 "playground needs `ansi_up` integration"
The old playground used the [`ansi-up`](https://github.com/drudru/ansi_up) library to convert the output from the compiler into nice colors.We ought to be able to do so again, but now that we are using docusaurus we can add it as a proper npm dependency I imagine by running

[code]

and then invoking it in the proper places.

cc @XFFXFF, you mentioned interest in fixing playground bugs

[2022-05-03 23:09] #142 closed

[2022-05-04 08:15] #167 closed

[2022-05-10 18:08] nikomatsakis opened #174 "whitespace stripping and format strings don't play well"
This code prints "forcedmyselfto" and not "forced myself to" as you might expect

[code]

_Originally posted by @nikomatsakis in https://github.com/dada-lang/dada/issues/172#issuecomment-1122233825_

[2022-05-11 08:26] #149 closed

[2022-05-11 09:00] nikomatsakis opened #175 "cargo xtask deploy doesn't work out of the box on windows"
We should ensure that `cargo xtask deploy` works out of the box on Windows!

@vemoo investigated in #170 and found a few things:

* [ ] `wasm-pack` fails because of [this issue](https://github.com/rustwasm/wasm-pack/issues/1097), I can work around it by changing the version to `v0.10.1`.
* [ ] need to run `npm.cmd` and not `npm`
* [x] need to remove stacker (did that in #170)

[2022-05-11 17:38] vemoo opened #177 "decide how handle `(expr,)`"
After #171 it's being parsed as a parenthesized expression, unlike before that was parsed as a single element tuple, the same as `(expr)`.

We probably want to emit an error.

[2022-05-12 08:17] #141 closed

[2022-05-12 09:22] nikomatsakis opened #179 "raw strings"
We are going to want something like Rust's raw strings (`r"foo"` or `r#"foo"#`, etc). We'll probably have to extend the tokenizer to support prefixes like `r"foo"`, too, I forget if I handled that. We may also want strings that just skip the margin and whitespace munging.

We probably *also* want something like `print` that doesn't add a newline -- but maybe that could be handled by an optional ar

[2022-05-12 09:45] nikomatsakis commented on #159
Other random names and thoughts I figured I might as well jot down. I've been pondering the names. shlease really feels like a non-starter the more I think about it. :)

**Read and write.** We could call the leased modes "read" and "write" (and the verbs to get them `.read` and `.write`). So then you would have a "write lease" or a "read lease" (but a "read" lease also lets you write atomic fields

[2022-05-12 09:52] nikomatsakis commented on #159
Diagram

[code]

[2022-05-14 13:04] #174 closed

[2022-05-14 15:00] nikomatsakis opened #180 "Question: How to treat trailing whitespace when stripping margins"
The current margin stripping logic seems mildly inconsistent to me:

* we ignore lines that consistent only of whitespace
* but then we persist the trailing whitespace in them that comes after the margin

I am inclined to think we should just strip trailing whitespace from every line, and then ignore empty lines for purposes of margin computation. The margin stripping logic is already kind of 'dwi

[2022-05-14 15:00] nikomatsakis commented on #180
Margin stripping logic was last implemented in #178 and is documented [here](https://dada-lang.org/docs/reference/string-literals).

[2022-05-15 13:25] XFFXFF opened #182 "Heap graph is not displayed correctly in playground"
The actual heap graph displayed at the cursor

![image](https://user-images.githubusercontent.com/30254428/168474986-0e5f96b5-3fd7-49a4-a491-1f8ed24b37cb.png)

Expect

![image](https://user-images.githubusercontent.com/30254428/168475084-6a3cbb3d-d2c7-4351-b96d-8e0e2158ad4e.png)

[2022-05-16 06:53] XFFXFF commented on #182
This bug may only occur in Windows, because the browser always encodes newlines as `\r\n`, which results in the wrong offset calculation.

https://github.com/dada-lang/dada/blob/752614258823af47d5c3c0dc34e5e10485baf5fc/components/dada-ir/src/lines.rs#L19-L26
![image](https://user-images.githubusercontent.com/30254428/168534685-f5db8d92-5fb4-4a4d-a97b-aab389210499.png)

Fortunately, Ace can set [ne

[2022-05-17 08:58] XFFXFF opened #188 "The span where the error occurs is not displayed correctly in the Playground"
![image](https://user-images.githubusercontent.com/30254428/168772501-dc19129b-b0c2-4f87-990a-b5eee4599242.png)

[2022-06-26 01:02] #182 closed

[2022-07-02 16:47] vemoo opened #193 "whitespaces are lost in html generated from docs/reference/string-literals.md"
In the source file [string-literals.md](https://github.com/dada-lang/dada/blob/eeff91e25a9baaaf44beca0ee6e5d3172e33fd2e/book/docs/reference/string-literals.md?plain=1) there are a couple of places that have multiple consecutive white spaces. For example:
[code]
but those are lost after converting it to html:

[2022-07-14 23:58] ammkrn opened #199 "Untyped/gradual dada motivation"
Hi,
I think this is a really cool project. I'm curious about the choice of gradual typing and was very surprised to hear nikomatsakis say in #54 `I also really want a language that is completely usable without types`. The design docs just seem to list support for a dynamic/gradual fragment as a goal, but I would be really interested to know more about the motivation behind it.

Thanks!

[2022-07-16 03:59] #175 closed

[2022-07-17 16:02] brson commented on #78
Unassigning myself. Busy with other things lately.

[2022-07-17 16:03] brson commented on #17
Unasigning myself. Busy with other things lately.

[2022-07-30 00:19] brson commented on #131
I needed a code editor recently and tried monaco and codemirror 6. monaco was difficult to build but codemirror 6 was effortless.

[2022-07-30 10:55] vemoo commented on #131
I have used monaco and its api is close to vscode but not exactly the same, but there's https://github.com/TypeFox/monaco-languageclient that would make it easier to reuse the lsp server.

It does support 3: https://microsoft.github.io/monaco-editor/api/interfaces/monaco.languages.InlayHintsProvider.html

And for 2 it seems it's quite flexible: https://microsoft.github.io/monaco-editor/playground.

[2022-07-31 14:45] vemoo commented on #17
Regarding
[code]
the current parser parses it as return with value `bar`, which I think it makes sense, because you can do:
[code]
if you want a return without value.

[2022-07-31 14:54] vemoo commented on #17
I've been experimenting with tree-sitter here: https://github.com/vemoo/dada/blob/tree-sitter/tree-sitter-dada/grammar.js

I'm not sure if tree-sitter is a good idea for defining a reference grammar, but it wasn't to difficult to create the grammar and it's parsing most of the dada_tests files but with some differences.

I'm now taking a look at the work done by @brson and experimenting with it, b

[2022-08-02 09:06] Aadamandersson commented on #86
I think this can be closed.
It looks like a validation error was added for this in #148. (Commit: [ #e05bd7166ad7b380cd171fc2f7b8666343bf65ad](https://github.com/dada-lang/dada/pull/148/commits/e05bd7166ad7b380cd171fc2f7b8666343bf65ad))
https://github.com/dada-lang/dada/blob/36b611e49ecbc1f49c232ddc7ede96d23b640557/components/dada-validate/src/validate/validator.rs#L695-L703

[2022-08-03 17:15] vemoo commented on #17
Thinking some more about this, it is a bit weird that newlines sometimes are interpreted as separators (fields, parameters, tuples) and other times as trivia.

Maybe newlines should not be automatically skipped in the parser, and should only be skipped where they are not ambiguous?

[2022-08-05 20:31] nikomatsakis commented on #17
Maybe -- I was hoping to make newlines kind of magically "dwim" at all the right times, but I wouldn't be surprised if it doesn't always do what is expected.

[2022-08-05 20:32] #127 closed

[2022-08-08 16:27] vemoo commented on #17
I've been trying to complete the parol grammar here: https://github.com/vemoo/dada/tree/grammar but I'm finding it much harder to work with than tree-sitter. I think it's because a lot of the changes I try cause the grammar to no longer be LL(k), so that may be a LL(k) vs GLR difference.

Another thing, I've noticed that there are a few issues that affect the grammar: #177, #156, #134, #117
Should

[2022-08-11 10:17] #147 closed

[2022-09-22 10:33] nikomatsakis commented on #199
@ammkrn My motivation is that I think a certain segment of people learn best by being able to play with and execute programs. I think it'd be really helpful if you could teach dada concepts at first without introducing types, just showing dynamic errors of various kinds -- ideally you'd do the first few projects this way. Once people learn how that works, they can add in the type system and have a

[2022-09-22 10:35] nikomatsakis opened #211 "Refactoring: remove the validated tree?"
I am not convinced the validated tree carries its weight for dada (I am still mildly convinced that HIR carries its weight for Rust, but only mildly). I'd be curious to see someone (maybe me, if I get to it...) try removing it entirely, which would mean:

* The validator would just report errors but not create a new IR.
* The BIR lowering would operate directly on the syntax tree.

[2022-09-22 10:43] nikomatsakis opened #212 "Refactoring: anchored spans"
Currently, we have `Span`, which has offsets relative to the start of "some file" (you have to know which from context) and `FileSpan` (contains the file). Offsets relative to the start of the file are bad because if you "see them", you have to be recompiled whenever *anything* in that file is edited that occurred prior to that span.

I would like to move to the anchored scheme used in https://git

[2022-09-22 10:49] nikomatsakis opened #213 "Refactoring: cleaner tree node interface"
We currently have these `dada_id` macros for creating the internal IRs. I dont' even know if they're documented anywhere in particular, but the idea is that you have a

* tables -- maps from the id of a node to its data
* origins (or spans) -- maps from the id of a node to its origin (e.g., span for a syntax tree, but we link BIR nodes to syntax tree nodes)

Creating a new node in this setup is ki

[2022-09-24 10:09] nikomatsakis opened #214 "Friendlier, first person error messages"
One of Dada's precepts is that it should be fun to use and easy to learn. There's been research that shows that a more "first person" compiler is more accessible. This would mean giving errors like "I expected to see a X, but I see Y instead". I think this would be a good fit for Dada. In the playground we could have [Tzara](https://github.com/dada-lang/dada-artwork#main-logo-and-mascot-meet-tzara

[2022-09-26 09:03] nikomatsakis commented on #211
Looking over the source, I'm still not *convinced* the validation step holds its weight, but it'd also be non-trivial to remove, and the resulting code might well be a mess. The validation step seems to handle introduction of temporaries, for example, and a few other similar rewrites. Hmmm. I'm not going to try it now, anyway.

[2022-09-26 09:28] #211 closed

[2022-09-28 02:35] brson commented on #9
I spent some time looking at this and got stuck once I turned started running tests in parallel and in arbitrary order. The shared LSP _appears_ to deadlock within salsa while interning `InputFile`. It's pretty unexpected since I'm serializing requests to the LSP and _it_ shouldn't be experiencing any parallelism.

I'm stumped for now. Here's my branch: https://github.com/brson/dada/tree/parallel-

[2022-09-29 12:58] nikomatsakis commented on #9
We *just* landed a PR fixing a potential deadlock with interning in salsa, so that may be related.

[2022-10-03 09:06] nikomatsakis opened #217 "Syntax question: to `let` or not to `let`"
In the current dada syntax, if you use `=` you declare a new variable:

[code]

and if you use `:=`, you can reassign an existing place:

[code]

I was going for an extremely "lightweight" syntax reminiscent of Python, but to be honest, I'm not sure I like it. I am thinking maybe it's better to follow Rust (and, I realize, Java/TypeScript?) precedent here and use `let`:

[code]

and then just use

[2022-10-03 09:07] nikomatsakis commented on #217
This probably makes parsing easier too, as you would presumably write

[code]

and

[code]

Right now we need a bit of goofy lookahead to handle these cases.

[2022-10-03 16:42] vemoo commented on #217
I prefer having `let`, it's easier to see where new bindings are being introduced.

[2022-10-05 08:44] nikomatsakis commented on #217
@vemoo want to try implementing it?

[2022-10-05 14:08] vemoo commented on #217
sure

[2022-10-06 09:06] nikomatsakis opened #219 "Typed Dada"
This issue is tracking ongoing work to introduce Typed Dada.

## The plan

The plan roughly proceeds in 3 parts

* Support type declarations in all the usual places (function arguments, return types, local variables)
* Enforce these dynamically
* Add a static checker that reports errors too

The intent is that you can run your program even when you have static type errors and it makes sense, but i

[2022-10-06 17:13] vemoo opened #220 "should we avoid executing programs with errors?"
While implementing #217 I found that `dada run` executes even if there are errors, which causes this program to enter an infinite loop:

[code]

I think we should avoid running if we encounter any diagnostic with `Severity::Error`.

That can also happen for `dada test` and maybe on web playground?

[2022-10-08 10:23] nikomatsakis commented on #220
Actually, it's my intent that we always run programs, even with errors. Part of the goal of the compiler is to be able to always generate *something* a user can run.

[2022-10-08 10:24] nikomatsakis commented on #220
However, if we encounter invalid syntax, or other super painful errors, we could have the program abort when it reaches that point in execution.

[2022-11-13 16:49] ammkrn commented on #199
Despite the super delayed reply, I really appreciate you sharing your thoughts. Thank you!

[2022-11-13 16:49] #199 closed

[2022-11-27 22:01] brson commented on #217
I also prefer keywords to introduce variables. I think it's because it's a strong visual indicator that new state is being created.

[2022-11-27 22:06] brson commented on #9
I rebased my parallel testing branch and it still deadlocks. Haven't investigated further.

[2022-11-30 19:29] vemoo commented on #217
this was implemented in #221

[2022-11-30 19:29] #217 closed